.container {
  padding: 0 2rem;
  background: #222222;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
  letter-spacing: 2px;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
  margin: 0;
}

.logotitle {
  display: flex;
  align-items: center;
  margin-left: -40px;
}

.logo {
  position: relative;
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.vertical,
.horizontal {
  position: absolute;
  background: #EEEEEE;
}

.vertical {
  height: 40px;
  width: 2px;
}

.horizontal {
  width: 40px;
  height: 2px;
}

.logo .vertical:nth-child(1) {
  left: 10px;
}

.logo .vertical:nth-child(2) {
  left: 20px;
}

.logo .vertical:nth-child(3) {
  left: 30px;
}

.logo .horizontal:nth-child(4) {
  top: 10px;
}

.logo .horizontal:nth-child(5) {
  top: 20px;
}

.logo .horizontal:nth-child(6) {
  top: 30px;
}